*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
background-color: blueviolet;
}

h1{
color: orange;
}

p{
    color: white;
}

button{
    border-radius: 20px;
    height: auto;
    width: 135px;
}